<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Schedule</h1>
    <a href="/getTravel">Check Your Plan</a>

    <% if (isLoggedIn) { %>
        <form method="post" action="/logout">
            <button type="submit">Logout</button>
        </form>
    <% } else { %>
        <a href="/login"><button>Login</button></a>
        <a href="/signup"><button>Sign Up</button></a>
    <% } %>
    <% if (userRole === 'agent') { %>
        <a href="/schedules/add"><button>Add Travel</button></a>
    <% } %>
    
    <table>
        <tr>
            <th>Travel Agent</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure</th>
            <th>Price</th>
            <th>Seat Left</th>
            <th>Action</th>
        </tr>
        <% schedules.forEach((e) => { %>
            <tr>
                <td><%= e.TravelAgent.name %></td>
                <td><%= e.origin %></td>  
                <td><%= e.destination %></td>
                <td><%= e.departure %></td>
                <td><%= e.price %></td>
                <td><%= e.seatNumber %></td>

                <% if (userRole === 'agent') { %>
                    <td><a href="/edit/<%= e.id %>">Edit</a> | <a href="/schedules/delete/<%= e.id %>">Delete</a></td>
                <% } else if (userRole === 'customer') { %>
                    <% if (e.seatNumber === 0 || new Date(e.departure) < new Date()) { %>
                        <td>Sold Out</td>
                    <% } else { %>
                        <td><a href="/schedules/checkout/<%= e.id %>">Buy</a></td>
                    <% } %>
                <% } else { %>
                    <% if (e.seatNumber === 0 || new Date(e.departure) < new Date()) { %>
                        <td>Sold Out</td>
                    <% } else { %>
                        <td><a href="/schedules/checkout/<%= e.id %>">Buy</a></td>
                    <% } %>
                <% } %>
            </tr>
        <% }) %>
    </table>
</body>
</html>
