<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('./partials/style.ejs') %>
</head>
<body>
    <h1>Schedule</h1>
    <a href="/getTravel">Check Your Plan</a>

    <% if (isLoggedIn) { %>
        <form method="post" action="/logout">
            <button type="submit">Logout</button>
        </form>
    <% } else { %>
        <a href="/login" class="login-btn"><button>Login</button></a>
        <a href="/signup"><button>Sign Up</button></a>
    <% } %>

    <table id="customers">
        <tr>
            <th>Travel Agent</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure</th>
            <% if (userRole === 'agent' || userRole === 'customer') { %>
            <th>Action</th>
            <% }%>
        </tr>
        <% schedules.forEach((e) => { %>
            <tr>
                <td><%= e.TravelAgent.name %></td>
                <td><%= e.origin %></td>  
                <td><%= e.destination %></td>
                <td><%= e.departure %></td>

                <% if (userRole === 'agent') { %>
                <td>
                    <a href="/edit/<%= e.id %>"><button>Edit</button></a>
                    <a href="/delete/<%= e.id %>"><button>Delete</button></a>
                </td>
                <% } else if (userRole === 'customer') { %>
                    <td><a href="/book/<%= e.id %>"><button>BOOK</button></a></td>
                <% } %>
            </tr>
        <% })  %>
    </table>
</body>
</html>
