<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Schedule</h1>
    <a href="/login"><button>Login</button></a>


    <form method="post" action="/logout">
        <button type="submit">Logout</button>
    </form>

    <table>
        <tr>
            <th>Travel Agent</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure</th>

        </tr>
        <tr>
            <% schedules.forEach((e) => { %>
                
                <td><%= e.TravelAgent.name %></td>
                <td><%= e.origin %></td>  
                <td><%= e.destination %></td>
                <td><%= e.departure %> + <%= e.departure %></td>


            </tr>
            <% })  %>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
</body>
</html>